body {
  font-family: "Teachers", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f4e1;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #543310;
  width: 100%;
  color: #f8f4e1;
  font-size: 1.15rem;
  opacity: 0; /* Start with header hidden */
  transform: translateY(-100%); /* Start position above the top of the screen */
  transition: opacity 2s, transform 2s; /* Smooth transition for opacity and position */
  animation: dropIn 1s forwards;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  margin: auto 1.5rem;
  padding: 0.5rem 0;
}

@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.options a,
.options li p {
  color: #f8f4e1;
  text-shadow: 2px 1px 1px black;
}

.logo {
  margin: auto 0;
  padding: 0 3rem;
}

.logo a {
  text-decoration: none;
  font-weight: 700;
  font-size: 2.5rem;
  color: #f8f4e1;

  text-shadow: 2px 1px 1px black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: 0.5rem;
  display: none;
  position: absolute;
  background-color: #543310;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: #f8f4e1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #af8f6f;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #69e46d;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials li {
  margin: auto 0.75rem;
}

.lang-flex a {
  display: flex;
  flex-direction: row;
  img {
    margin: auto 0.5rem auto 0;
  }
}

.backdrop {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("./backdrop.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.backdrop h1 {
  margin: 0 auto;
  margin-top: 30vh;
  font-size: 6rem;
  color: rgb(255, 255, 255);
  text-shadow: 4px 1px 1px rgba(0, 0, 0, 0.4);
  animation: txtFill 4s forwards;
}

.backdrop p {
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 2rem 15rem;
  text-align: center;

  color: white;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.4);
}

@keyframes txtFill {
  0% {
    color: white;
  }
  100% {
    color: #af8f6f;
  }
}

.contact-btns {
  margin: 2rem auto;
  display: flex;
}
.contact-text h2 {
  font-size: 2rem;
  color: #543310;
  text-shadow: 2px 1px 1px black;
}

.contact-text a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.25rem;
  background-color: #543310;
  color: #f8f4e1;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: 0.25s;
}
.contact-text a:hover {
  background-color: #4a804c;
  color: White;
  transition: 0.25s;
}

.contact-btns h3 {
  cursor: pointer;
  color: white;
  margin: 0 2rem;
  padding: 1.5rem 4rem;
  border: 4px solid #74512d;
  border-radius: 35px;
  background: linear-gradient(
    to right,
    #af8f6f 0%,
    #74512d 50%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.3) 100%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s;
}

.contact-btns h3:hover {
  background-position: 0 0;
  color: black;
  transition: 0.3s;
}

.backdrop h3 {
  margin-top: 0;
  color: white;
  text-align: center;
}

.description {
  padding: 7rem 10rem;
  background: transparent;
  color: #543310;
  text-align: center;
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }
}

.industries-grid {
  display: grid;
  width: 100vw;
  height: max-content;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.industries-item {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 40vh;
}

.w-smaller {
  width: 35%;
}

.justify-evenly {
  justify-content: space-evenly;
}

.industries-item:hover {
  border-radius: 10px;
  transition: 0.5s;
}

.industries-item a:hover {
  background-color: #74512d;
  border-color: #74512d;
  color: black;
  transition: 0.5s;
}

.industries-item img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  opacity: 0.65;
  transition: 0.5s;
}

.img-cnt {
  position: absolute;
  text-align: center;
}

.img-cnt h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: white;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.7);
}

.img-cnt-btn {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  font-weight: 400;
  padding: 1rem 3rem;
  border: 4px solid #74512d;
  border-radius: 35px;
  background: linear-gradient(
    to right,
    #af8f6f 0%,
    #74512d 50%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.3) 100%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s;
}
.img-cnt-btn:hover {
  background-position: 0 0;
  color: black;
  transition: 0.3s;
}

.industries-item img:hover {
  opacity: 0.3;
  transition: 0.2s;
}

.choose-us {
  background: transparent;
  padding: 3rem 10rem;
}

.choose-us h1 {
  text-align: center;
  color: #543310;
  font-size: 3rem;
  padding-bottom: 1.25rem;
  border-bottom: 5px solid #af8f6f;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.7);
}

.choose-us h1 span {
  color: #af8f6f;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.7);
}

.abt-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1rem;
  margin-top: 4rem;
}

.abt-item {
  display: flex;
  color: white;
}

.abt-item img {
  margin-right: 1rem;
}

.abt-item {
  font-size: 1.25rem;
}
.abt-flex-div {
  display: flex;
  flex-direction: column;
}

.abt-item span {
  color: #af8f6f;
  font-weight: 700;
  font-size: 1.75rem;
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase;
}

.abt-text {
  background: linear-gradient(#543310, #543310) left no-repeat,
    rgba(0, 0, 0, 0.7);
  background-size: 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.05);
  transition: 0.5s ease-in-out;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 2rem auto;
}

.abt-text:hover {
  background-size: 100% 100%;
  transition: 0.5s;
}

@keyframes hoverAnimation {
  from {
    background-size: 0% 100%;
  }
  to {
    background-size: 100% 100%;
  }
}

.abt-text.animate-hover {
  animation: hoverAnimation 0.5s ease-in-out forwards;
}

.reviews {
  background-color: rgb(20, 20, 20);
  text-align: center;
}

.customers,
.employees {
  color: #543310;
  padding: 5rem 2rem;
  background: transparent;
}

.customers h1,
.employees h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.7);
  padding-bottom: 3rem;
}

.customer-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2.5rem;
  padding: 0 20rem;
}

.customer-card img {
  margin-bottom: 2rem;
}

.customer-card i {
  font-size: 1.5rem;
  font-weight: 500;
}

.card-text {
  padding: 0 10rem;
}

.customer-card h2 {
  margin-bottom: 0;
}

.customer-card p {
  margin-top: 0.5rem;
  text-transform: uppercase;
  color: #af8f6f;
  font-size: 1.25rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-weight: 600;
}

.prev,
.next {
  color: #af8f6f;
  cursor: pointer;
  position: absolute;
  width: auto;
  text-shadow: 4px 2px 2px black;
  font-size: 6rem;
  margin-top: -15rem;
}

.prev {
  left: 20%;
}

.next {
  right: 20%;
}

.form-section {
  background: transparent;
  color: white;
  padding: 2rem 15rem;
  padding-bottom: 10rem;
  h1 {
    font-size: 4rem;
    margin-top: 2rem;
    padding-top: 2rem;
    text-align: center;
  }
}

.signup-form,
.application-form {
  display: flex;
  flex-direction: column;
  padding: 4rem 10rem;
  border-radius: 30px;
  background-color: #1e1e1e;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.form-input input,
select {
  margin-top: 0.25rem;
  padding: 0.75rem 0.5rem;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5);
}

.form-input select {
  width: 30%;
}

.form-checkboxes label {
  margin-right: 1rem;
}

.form-btn {
  width: 15%;
  display: inline-block;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #543310;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.form-btn:hover {
  background-color: #543310;
}

.form-btn:active {
  background-color: #543310;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.contact {
  background: linear-gradient(to right, rgb(30, 30, 30), rgb(0, 0, 0));
  padding: 4rem 10rem;
  color: white;
  border-top: 4px solid #af8f6f;
  p {
    margin: 0;
  }
}

.contact-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-flexbox ul {
  list-style: none;
  padding: 0;
  a {
    text-decoration: none;
    color: white;
  }
}

.contact-nav {
  margin: 0 5rem;
}
.contact-options {
  margin: 0 5rem;
}
.contact-socials {
  margin: 0 5rem;
}

.contact-list {
  font-size: 1.25rem;
}

.contact-options p,
.contact-socials p,
#homepage-link {
  font-size: 2.5rem;
  border-bottom: 1px solid #af8f6f;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.contact-flexbox li {
  margin: 0.5rem 0;
}

/* apply page */

.abt-employer {
  background-color: #f8f4e1;
  color: #543310;
  padding: 5rem 15rem;
}

.abt-employer h1 {
  margin: 0;
  text-align: center;
  padding: 4rem 0 1.5rem 0;
  font-size: 3rem;
  border-bottom: 2px solid #543310;
}

.abt-grid {
  padding: 3rem 15rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.abt-flex-sub {
  display: flex;
  margin: 0 2rem;
  img {
    margin: auto 0;
    margin-right: 1rem;
  }
}

/* review */

.reviews {
  background: linear-gradient(to right, rgb(30, 30, 30), rgb(0, 0, 0));
}

.reviews h1 {
  margin: 0;
  padding-top: 4rem;
  color: white;
  font-size: 3rem;
}

.review-card {
  padding: 4rem 10rem;
}

.review-flex {
  padding: 2rem 10rem;
  border-radius: 25px;
  background-color: #1e1e1e;
  border: 1px solid white;
  box-shadow: 0px 0px 0px 3px white;
  transition: 1s;
  color: white;
  display: flex;
  flex-direction: row;
  img {
    margin: auto 0;
  }
}

.review-flex:hover {
  box-shadow: 0px 0px 0px 13px white;
}

.review-text {
  margin-left: 2.5rem;
}

/* references */

.form-review {
  display: flex;
  flex-direction: column;
}

.form-review input {
  margin-top: 0.5rem;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: #f8f8f8;
  resize: none;
}

/* contact-us */

.text-section {
  background: linear-gradient(to right, rgb(30, 30, 30), rgb(0, 0, 0));
  padding: 5rem 15rem;
  color: white;
  font-size: 1.5rem;
}

.sales-contact,
.recruitment-contact,
.finance-contact,
.management-contact {
  background-color: #f8f4e1;
  padding: 5rem 15rem;
  color: #543310;
}

.contact-flexbox {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.employee-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  background-color: rgba(175, 143, 111, 0.8);
  color: #74512D;
  border-radius: 15px;
  margin: 1.5rem auto;
}

.card-flexbox {
  display: flex;
  img {
    margin: auto 0;
    margin-right: 0.5rem;
  }
}

/* jobs */

.job-description {
  background-color: inherit;
  padding: 10rem 25rem;
  color: inherit;
  font-weight: 500;
  font-size: 1.25rem;
}

.job-description h1 {
  text-align: left;
  font-size: 3rem;
}

.display-flex {
  display: flex;
  flex-direction: row;
}

.text-area {
  padding-right: 7rem;
}

.text-area p {
  margin: 3rem 0;
}

.table {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

.element-flex {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  color: inherit;
  padding: 1rem 0;
  border-bottom: 2px solid #AF8F6F;
}

#number {
  background-color: #69e46d;
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  transition: 0.25s;
}

#number:hover {
  background-color: #4a804c;
  color: White;
  transition: 0.25s;
}

#link {
  margin: 4rem 0;
  background-color: #69e46d;
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  transition: 0.25s;
}

#link:hover {
  background-color: #4a804c;
  color: White;
  transition: 0.25s;
}

/* industries css */

.we-provide,
.employee-search {
  background: inherit;
  color: inherit;
  padding: 5rem 10rem;
}

.we-provide h1 {
  margin: 0;
}

.provide-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 2rem 10rem;
  grid-column-gap: 5rem;
}

.provide-img {
  width: 100%;
  text-align: right;
}

.provide-img img {
  object-fit: cover;
  height: 700px;
  width: 500px;
  border-radius: 15px;
}
.provide-txt ul {
  list-style: none;
}

.provide-txt li {
  display: flex;
  flex-direction: row;
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
  span {
    font-weight: 700;
  }
  p {
    margin: 0;
  }
}

.list-txt {
  margin-left: 2rem;
  padding-right: 10rem;
  span {
    margin-bottom: 1rem;
  }
}

.search-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-column-gap: 5rem;
}
.search-img {
  width: 100%;
  overflow: hidden;
}

.search-img img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
